services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - DB_HOST=host.docker.internal
      - DB_NAME=cctv_traffic_db
      - DB_USER=user
      - DB_PASS=password
      - DB_CHARSET=utf8